n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "resume",
        "options": {}
      },
      "id": "1fc66e5b-87c0-4b6d-8335-115081d68d75",
      "name": "Extract Resume Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1824,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: Senior Technical Recruiter & ATS Algorithm.\n\nYour goal is to objectively evaluate a candidate's resume against a Job Description (JD) with high precision.\n\nINPUTS:\nJob Description:\n\"{{ $json.job_description }}\"\n\nCandidate Resume:\n\"{{ $json.resume_text }}\"\n\n---\n\nANALYSIS STEPS:\n1. EXTRACT NAME: Identify the candidate's full name from the header.\n2. PARSE JD: Separate requirements into \"Critical/Must-Have\" (hard skills, strict years of experience) and \"Bonus/Nice-to-Have\".\n3. MATCHING: Compare the resume against \"Critical\" requirements.\n   - Use semantic matching (e.g., if JD asks for \"React\" and resume says \"React.js\" or \"Frontend with Redux\", count it).\n4. CALCULATE SCORE:\n   - 90-100: Matches ALL Critical skills + Strong experience alignment.\n   - 75-89: Matches ALL Critical skills + Minor gaps in bonus skills.\n   - 50-74: Missing 1-2 Critical skills or experience is slightly junior.\n   - 0-49: Missing major Critical skills or completely irrelevant.\n\n---\n\nOUTPUT FORMAT:\nReturn ONLY a valid JSON object. Do NOT include markdown formatting (like ```json).\n\n{\n  \"match_score\": <integer between 0-100>,\n  \"summary\": \"Candidate Name: [Name]. [2-3 sentences explaining exactly WHY they got this score. Mention their key qualification vs. the biggest missing requirement].\",\n  \"strengths\": [\n    \"List specific matched hard skills\",\n    \"List matched years of experience\"\n  ],\n  \"gaps\": [\n    \"List specific missing critical skills\",\n    \"List missing certifications or experience years\"\n  ],\n  \"recommended_action\": \"Interview\" | \"Needs Further Review\" | \"Reject\"\n}",
        "options": {}
      },
      "id": "941691cc-b530-4ecf-a9cc-f2c23ac66842",
      "name": "Resume Analysis AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -896,
        480
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "panerivatsal@gmail.com",
          "mode": "list",
          "cachedResultName": "panerivatsal@gmail.com"
        },
        "start": "={{ $('Parse Merged Output').item.json.interview_date }}",
        "end": "={{ $now.plus(1, 'days').plus(1, 'hour') }}",
        "additionalFields": {
          "summary": "={{ $json.name }}"
        }
      },
      "id": "bc8cbc09-7117-41e2-9686-02a1c8ef90a6",
      "name": "Create Interview Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        192,
        1088
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "Joihgr4mg5VEnuts",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Update regarding your application",
        "message": "=Hi {{ $json.name }},Thank you for your application. Unfortunately, we will not be moving forward at this time.",
        "options": {}
      },
      "id": "a6078e32-b517-4e23-bfea-b93e6be455c8",
      "name": "Send Rejection Email Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        240,
        480
      ],
      "webhookId": "9c61a176-5b51-48c2-8a4a-644b2bf2f717",
      "credentials": {
        "gmailOAuth2": {
          "id": "IH0glfjLRBJ4ksA6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "Invitation to Interview",
        "message": "=Hi {{ $json.name }}, we would like to invite yoyou for interview",
        "options": {}
      },
      "id": "505bea22-b5d0-4dde-8472-c4772a5da39d",
      "name": "Send Interview Email Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        288,
        816
      ],
      "webhookId": "30069af9-c9ad-4f13-8b4e-e6b8a7464257",
      "credentials": {
        "gmailOAuth2": {
          "id": "IH0glfjLRBJ4ksA6",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -880,
        752
      ],
      "id": "1eda0589-6405-494f-84a2-bdf66584b71f",
      "name": "Google Gemini Chat Model",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "JSlwzsBhogOCKwHN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role: Professional HR Data Extraction Agent\n\nINPUT:\nCandidate Resume Text:\n{{ $('Extract Resume Text').item.json.text }}\n\nTASK:\nYour absolute priority is to find and extract the candidate's contact information from the provided text.\n\nINSTRUCTIONS:\n1. FULL NAME: Look at the very beginning of the text. The name is usually the largest, most prominent string of text at the top. \n2. EMAIL: Search for any string containing the \"@\" symbol. This is the most critical field for the workflow to function.\n3. PHONE: Look for sequences of 10-12 digits, often formatted with dashes, dots, or parentheses. Add star if found '+' symbol\n4. CITY/LOCATION: Look for city names or \"Address\" sections.\n\nSTRICT RULES:\n- If EMAIL is not found, return an empty string \"\" (very important)\n- If name, city, or phone are not found, return \"N/A\"\n- Do NOT include markdown or explanations\n- Return ONLY the JSON object\n\nOUTPUT FORMAT:\n{\n  \"name\": \"\",\n  \"email\": \"\",\n  \"city\": \"\",\n  \"phone\": \"\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1424,
        336
      ],
      "id": "6f337801-1a06-4b90-82ee-2a73d7a073f1",
      "name": "Candidate Info Extractor",
      "alwaysOutputData": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"resume_text\": \"{{ $json.text }}\",\n  \"job_description\": \"{{ $('Burster').item.json.jd }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        336
      ],
      "id": "b32af86a-2cd7-4a29-873d-5e604174b99d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst resumeText = $('Edit Fields').item.json.resume_text;\nconst jobDesc = $('Edit Fields').item.json.job_description;\n\nlet data = {};\ntry {\n  const cleanString = input.output.replace(/```json|```/g, \"\").trim();\n  data = JSON.parse(cleanString);\n} catch (e) {\n  data = {};\n}\n\nconst clean = (val) => (val === \"N/A\" || !val) ? \"\" : val;\n\nreturn [\n  {\n    json: {\n      name: clean(data.name) || \"Unknown Candidate\",\n      email: clean(data.email),\n      city: clean(data.city),\n      phone: clean(data.phone),\n      resume_text: resumeText,      // <--- SAVED!\n      job_description: jobDesc      // <--- SAVED!\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        336
      ],
      "id": "6811ae7d-7ac2-4fab-ace5-184ebf017320",
      "name": "Normalize Candidate Info"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nlet aiData = {};\ntry {\n  if (item.output && typeof item.output === 'string') {\n    const cleanString = item.output.replace(/```json|```/g, \"\").trim();\n    aiData = JSON.parse(cleanString);\n  }\n} catch (e) {\n  aiData = {};\n}\n\nlet finalScore = Number(aiData.match_score || item.score || 0);\nlet finalStatus = aiData.recommended_action || item.status || \"Needs Further Review\";\n\nif (finalScore >= 75) {\n  finalStatus = \"Interview\";\n} else if (finalScore < 40) {\n  finalStatus = \"Reject\";\n}\n\n// CALCULATE INTERVIEW DATE (Tomorrow)\nconst tomorrow = new Date();\ntomorrow.setDate(tomorrow.getDate() + 1);\nconst interviewDate = tomorrow.toISOString();\n\nreturn [\n  {\n    json: {\n      name: item.name || aiData.name || \"Unknown Candidate\",\n      email: item.email || aiData.email || \"\",\n      phone: item.phone || aiData.phone || \"N/A\",\n      city: item.city || aiData.city || \"N/A\",\n      score: finalScore,\n      status: finalStatus,\n      summary: aiData.summary || \"\",\n      interview_date: (finalStatus === \"Interview\") ? interviewDate : null \n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        352
      ],
      "id": "0d993a92-2b90-4af0-a05f-34c15fb94f65",
      "name": "Parse Merged Output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "63573397-dd3c-4483-b3a7-7b37358544fc"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Reject"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "89e2c6f8-58b1-49de-a727-adaf3a91cda5",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Needs Further Review",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Needs Further Review"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aae18b45-32be-4317-b91d-f0fb0ec33749",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Interview",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Interview"
            }
          ]
        },
        "options": {}
      },
      "id": "0857b87d-1c6e-4dd1-9979-08e62b2030c5",
      "name": "Route by Recommendation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -176,
        640
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze-resume",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2528,
        320
      ],
      "id": "0978e1de-af4f-4b91-bfd3-79f9bfc34997",
      "name": "Webhook",
      "webhookId": "245c6220-b06f-41b3-a5b3-7169761fcbb8"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -176,
        96
      ],
      "id": "0a183c8e-639c-4211-a785-b448c753870f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const jsonInput = $input.first().json;\nconst binaryData = $input.first().binary || {}; \n\n// Extract Job Description from the webhook body\nconst jd = jsonInput.body ? jsonInput.body.jd : \"No JD provided\"; \n\n// Find all uploaded files (resume_0, resume_1, etc.)\nconst resumeKeys = Object.keys(binaryData).filter(key => key.startsWith('resume'));\n\nif (resumeKeys.length === 0) return [];\n\n// Map each file into its own loop item\nreturn resumeKeys.map(key => {\n  return {\n    json: {\n      jd: jd,\n      filename: binaryData[key].fileName || \"Unknown File\"\n    },\n    binary: {\n      resume: binaryData[key] // THIS NAMES THE FILE 'resume' FOR THE NEXT NODE\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        320
      ],
      "id": "3b2baf99-5d34-4cbf-91b1-1b2c4dae7684",
      "name": "Burster"
    },
    {
      "parameters": {
        "options": {
          "reset": true
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2096,
        320
      ],
      "id": "11c34093-343d-4cbd-8cab-345f19218086",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1568,
        544
      ],
      "id": "5bca6fac-d57a-44a3-bdb3-1e9ced722ea2",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JSlwzsBhogOCKwHN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1gDdnybzI5XhK5ktsMH3_uXLdACpsdX1n8rRbGFdiRfk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json.name }}",
            "E-mail": "={{ $json.email }}",
            "Time": "={{ $json.interview_date }}",
            "status": "={{ $json.status }}",
            "Score": "={{ $json.score }}",
            "City/State": "={{ $json.city }}",
            "Phone no.": "={{ $json.phone }}"
          },
          "matchingColumns": [
            "Name "
          ],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "E-mail",
              "displayName": "E-mail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone no.",
              "displayName": "Phone no.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Score",
              "displayName": "Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "City/State",
              "displayName": "City/State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -144,
        336
      ],
      "id": "9aa561d4-7bfa-483f-8108-86b71d12b1c3",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "sOcZjClUMcmrbHMf",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -592,
        352
      ],
      "id": "c6eac537-99d5-4ee0-a1e6-0d617c7df5da",
      "name": "Merge"
    },
    {
      "parameters": {
        "formTitle": "resume",
        "formFields": {
          "values": [
            {
              "fieldLabel": "jd"
            },
            {
              "fieldLabel": "pdf",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1632,
        1024
      ],
      "id": "27f6fcd4-0e95-438e-bc66-cbe06a09643d",
      "name": "On form submission",
      "webhookId": "7e4cc718-a47d-4c64-8077-2266c92dd288"
    }
  ],
  "connections": {
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Analysis AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Analysis AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Candidate Info Extractor": {
      "main": [
        [
          {
            "node": "Normalize Candidate Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Candidate Info Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Candidate Info": {
      "main": [
        [
          {
            "node": "Resume Analysis AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Merged Output": {
      "main": [
        [
          {
            "node": "Route by Recommendation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Recommendation": {
      "main": [
        [
          {
            "node": "Send Rejection Email Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email Draft",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Interview Event",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Interview Email Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Burster",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Burster": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Candidate Info Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Parse Merged Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e91ead4891547d5e4c4d1a3b6cfa8659b3098a3afd241ced11c9841227c7d34b"
  }
}